<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="employee/layout :: head">
    </th:block>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<h3>Employee</h3>
<p>
    <a class="btn btn-success" th:href="@{/employeeCreate}">
        Add new employee
    </a>
</p>
<div>
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>
<form action="searchCustomer" method="post">
    <input type="text" name="search" placeholder="Search Employee">
    <input type="submit" value="search Employee">
</form>


<table id = "employee">
    <thead>
    <tr>
        <th>Employee Name</th>
        <th>Employee Birthday</th>
        <th>Employee IdCard</th>
        <th>Salary</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Position</th>
        <th>Division</th>
        <th>Education</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each=" row : ${employeeList} ">
        <td th:text="${row.getEmployeeName()}"></td>
        <td th:text="${row.getEmployeeBirthday()}"></td>
        <td th:text="${row.getEmployeeIdCard()}"></td>
        <td th:text="${row.getSalary()}"></td>
        <td th:text="${row.getEmployeePhone()}"></td>
        <td th:text="${row.getEmail()}"></td>
        <td th:text="${row.getAddress()}"></td>
        <td th:text="${row.position.positionName}"></td>
        <td th:text="${row.division.divisionName}"></td>
        <td th:text="${row.education.educationName}"></td>
        <td><a class="btn btn-success" th:href="@{/employeeEdit/__${row.id}__}">Edit</a></td>
<!--        <td><a th:href="@{/employeeDelete/__${row.id}__}">Delete</a></td>-->
        <td>
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    th:onclick="'javascript:deleteCustomer(' + ${row.id} + ')'">Delete</button>
        </td>
        <td><a class="btn btn-success" th:href="@{/employeeView/{id}/__${row.id}__}">View</a></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{'/employeeList'(page = ${employeeList.number - 1})}"
       th:if="${employeeList.hasPrevious()}">Previous</a>
    <span th:text="${employeeList.number + 1}"></span>
    / <span th:text="${employeeList.totalPages}"></span>
    <a th:href="@{'/employeeList'(page = ${employeeList.number + 1})}"
       th:if="${employeeList.hasNext()}">Next</a>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" >Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color: red">
                Bạn có muốn xóa hay không?
            </div>
            <form  id="form-delete" method="post" action="/employeeDelete">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
                <input type="hidden" name="id" id="id-customer">
            </form>
        </div>
    </div>
</div>

<script>
    function deleteCustomer(id) {
        document.getElementById("id-customer").value = id;
        // document.getElementById("name-customer").innerText = nameCustomer;
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<footer th:replace="employee/layout :: footer"></footer>
</body>
</html>