<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Blog</title>
</head>
<body>
<h1>Create Blog</h1>
<p>
    <a href="/blog">List Blog</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create}" th:object="${blog}" method="post">
    <table>
        <tr>
            <td>Header</td>
            <td>
                <input type="text" th:field="*{header}">
            </td>
        </tr>
        <tr>
            <td>Body</td>
            <td>
                <input type="text" th:field="*{body}">
            </td>
        </tr>
        <tr>
            <td>Footer</td>
            <td>
                <input type="text" th:field="*{footer}">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Create Blog">
            </td>
        </tr>
    </table>
</form>
</body>
</html>