<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Book</title>
</head>
<body>
<h1>Delete Book</h1>
<h3>Are you sure</h3>
<p>
    <a href="/book">Back to list Book</a>
</p>
<form th:action="@{/delete-book}" method="post" th:object="${book}">
    <input type="hidden" name="id" th:filed="*{id}" th:value="${book.id}">
    <table border="1">
        <tr>
            <td>Name Book</td>
            <td th:text="${book.name}"></td>
        </tr>
        <tr>
            <td>Current Quantity</td>
            <td th:text="${book.currentQuantity}"></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Delete">
            </td>
        </tr>
    </table>
</form>
</body>
</html>