<br>
<h4 class="d-flex justify-content-center text-decoration-underline">Create Employee</h4>
<form [formGroup]="employeeCreate" novalidate class="row justify-content-md-center">
  <div class="col-md-8">
    <div class="form-group row">
      <label for="example-text-input" class="col-md-2 col-form-label">Name:</label>
      <div class="col-md-10">
        <input class="form-control mb-4" type="text" id="example-text-input" name="name" formControlName="name">
      </div>
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf=" employeeCreate.get('name')?.invalid &&
            employeeCreate.get('name')?.touched">
      Phải đúng định dạng tên!
    </div>

    <div class="form-group row">
      <label for="example-text-input" class="col-md-2 col-form-label">Birthday:</label>
      <div class="col-md-10">
        <input class="form-control mb-4" type="date" id="example-birthday-input" name="birthday" formControlName="birthday">
      </div>
    </div>

    <div class="form-group row">
      <label for="example-text-input" class="col-md-2 col-form-label">Id Card:</label>
      <div class="col-md-10">
        <input class="form-control mb-4" type="text" id="example-card-input" name="card" formControlName="card">
      </div>
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf=" employeeCreate.get('card')?.invalid &&
            employeeCreate.get('card')?.touched">
      Phải đúng định dạng CMND!
    </div>

    <div class="form-group row">
      <label for="example-phone-input" class="col-md-2 col-form-label">Phone:</label>
      <div class="col-md-10">
        <input class="form-control mb-4" type="text" id="example-phone-input"  name="phone" formControlName="phone">
      </div>
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="employeeCreate.get('phone')?.invalid &&
            employeeCreate.get('phone')?.touched">
      Phải đúng định dạng số điện thoại!
    </div>

    <div class="form-group row">
      <label for="example-email-input" class="col-md-2 col-form-label">Email:</label>
      <div class="col-md-10">
        <input class="form-control mb-4" type="email" id="example-email-input" name="email" formControlName="email">
      </div>
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="employeeCreate.get('email')?.invalid &&
            employeeCreate.get('email')?.touched">
      Phải đúng định dạng email!
    </div>

    <div class="form-group row">
      <label for="example-email-input" class="col-md-2 col-form-label">Level:</label>
      <div class="col-md-10">
        <input class="form-control mb-4" type="email" id="example-level-input" name="level" formControlName="level">
      </div>
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="employeeCreate.get('level')?.invalid &&
            employeeCreate.get('level')?.touched">
      Level không được để trống!
    </div>

    <div class="form-group row">
      <label for="example-text-input" class="col-md-2 col-form-label">Position:</label>
      <div class="col-md-10">
        <input class="form-control mb-4" type="text" id="example-typeCustomer-input" name="position" formControlName="position">
      </div>
    </div>

    <div class="form-group row">
      <label for="example-address-input" class="col-md-2 col-form-label">Salary:</label>
      <div class="col-md-10">
        <input class="form-control mb-4" type="text" id="example-address-input" name="salary" formControlName="salary">
      </div>
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="employeeCreate.get('salary')?.invalid &&
            employeeCreate.get('salary')?.touched">
      Phải đúng định dạng tiền lương!
    </div>

    <div class="form-group row">
      <div class="col-md-10 offset-md-2">
        <button class="btn btn-primary" type="submit" (click)="createEmployee()">Submit</button>
      </div>
    </div>
  </div>
</form>
<a routerLink="/listEmployee" class="btn btn-outline-primary m-lg-2">Back To list Employee</a>
