<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head >
    <th:block th:replace="customer/layout :: head">
    </th:block>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<h3>Customers</h3>
<p>
    <a class="btn btn-success" th:href="@{/customerCreate}">
        Add new customer
    </a>
</p>
<div>
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>

<form>
    <input type="text" name="searchName" value="search Name">
</form>

<form action="searchCustomer" method="post">
    <input type="text" name="search" placeholder="Search Customer">
    <input type="submit" value="search Customer">
</form>


<table id = "customers">
    <thead>
    <tr>
        <th>Customer Name</th>
        <th>Customer Birthday</th>
        <th>Gender</th>
        <th>Customer IdCard</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Customer Type</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each=" row : ${customerList} ">
        <td th:text="${row.getCustomerName()}"></td>
        <td th:text="${row.getCustomerBirthday()}"></td>
        <td th:text="${row.getGender()}"></td>
        <td th:text="${row.getCustomerIdCard()}"></td>
        <td th:text="${row.getPhone()}"></td>
        <td th:text="${row.getEmail()}"></td>
        <td th:text="${row.getAddress()}"></td>
        <td th:text="${row.customerType.customerTypeName}"></td>
        <td><a class="btn btn-success" th:href="@{/customerEdit/__${row.id}__}">Edit</a></td>
        <!--        <td><a th:href="@{/customerDelete/__${row.id}__}">Delete</a></td>-->
        <td>
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    th:onclick="'javascript:deleteCustomer(' + ${row.id} + ')'">Delete</button>
        </td>
        <td><a class="btn btn-success" th:href="@{/customerView/{id}/__${row.id}__}">View</a></td>
    </tr>
    </tbody>
</table>

<div>
    <a th:href="@{'/customerList'(page = ${customerList.number - 1})}"
       th:if="${customerList.hasPrevious()}">Previous</a>
    <span th:text="${customerList.number + 1}"></span>
    / <span th:text="${customerList.totalPages}"></span>
    <a th:href="@{'/customerList'(page = ${customerList.number + 1})}"
       th:if="${customerList.hasNext()}">Next</a>
</div>

<!-- delete = modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" >Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color: red">
                Are you sure?
            </div>
            <form  id="form-delete" method="post" action="/customerDelete">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
                <input type="hidden" name="id" id="id-customer">
            </form>
        </div>
    </div>
</div>

<script>
    function deleteCustomer(id) {
        document.getElementById("id-customer").value = id;
        // document.getElementById("name-customer").innerText = nameCustomer;
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<footer th:replace="customer/layout :: footer"></footer>
</body>
</html>